.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/* search bar */
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;
    width: 350px;
    height: 2rem;
    border-radius: 15px;
    background: #383b3e;
}
  
.searchBar:hover {
    background: #464a4f;
}
  
.searchBar > svg {
    margin-right: 12px;
}
  
.searchBar > input {
    width: 250px;
    border: 0px;
    font-family: 'AppleSDGothicNeo';
    font-size: 15px;
    color: white;
    background: rgba(0, 0, 0, 0);
}

.searchBar > input::placeholder {
    color: #D6D6D6;
}
  
.searchBar > input:focus {
    outline: none;
}
  
.searchBar > svg:nth-child(3):hover{
    cursor: pointer;
}

@media all and (max-width: 480px) {
    .searchBar {
        width: 320px;
        min-width: 320px;
    }

    .searchBar > svg {
        min-width: 24px;
        min-height: 24px;
    }
}

@media all and (max-width: 400px) {
    .searchBar {
        width: 265px;
        min-width: 265px;
    }

    .searchBar > input {
        margin-right: 15px;
        width: 180px;
    }
}