.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1440px;
    padding: 50px 0;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBox > h2 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 36px;
    color: #ff014f;
    text-align: center;
}

.textBox > p {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}