.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 600px;
}

.tool {
    margin-bottom: 20px;
}

/* editor width */
.container > div:nth-child(2) {
    width: 100%;
}