.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 350px);
}

@media all and (max-width : 1080px) {
    .wrapper {
        width: 100%;
    }
}